<div class="h-screen bg-[url('/assets/bg1.svg')] bg-no-repeat bg-cover grid place-items-center">
    <form #editForm="ngForm" *ngIf="student" (submit)="editForm.valid && updateStudent()"
        class="bg-white w-full max-w-sm mx-auto shadow-lg py-6 px-8">
        <h2 class="text-center text-2xl mb-8 uppercase">Edit A Student</h2>

        <div class="grid gap-1 mb-6">
            <label for="name" class="text-sm text-gray-600">Student Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="student.name">
        </div>

        <div class="grid gap-1 mb-6">
            <label for="email" class="text-sm text-gray-600">Email Address</label>
            <input type="email" name="email" id="email" [(ngModel)]="student.email">
        </div>

        <div class="grid gap-1 mb-6">
            <label for="cohort" class="text-sm text-gray-600">Cohort</label>
            <input type="text" name="cohort" id="cohort" [(ngModel)]="student.cohort">
        </div>

        <div class="grid gap-1 mb-8">
            <label for="phoneNumber" class="text-sm text-gray-600">Contact Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" [(ngModel)]="student.phoneNumber">
        </div>

        <div class="flex items-center justify-end gap-4">
            <button type="reset" routerLink="/students"
                class="inline-flex py-1.5 px-3 hover:bg-gray-100 transition">Cancel</button>
            <button type="submit"
                class="inline-flex py-1.5 px-3 text-white bg-blue-500 hover:bg-blue-600 transition">Update</button>
        </div>
    </form>
</div>