<div class="modal">
    <div class="overlay"></div>

    <form #addForm="ngForm" (submit)="addForm.valid && addNewStudent(addForm)" (reset)="close()">
        <h2>Add New Student</h2>

        <div>
            <label for="name">Student Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="student.name">
        </div>

        <div>
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" [(ngModel)]="student.email">
        </div>

        <div>
            <label for="cohort">Cohort</label>
            <input type="text" name="cohort" id="cohort" [(ngModel)]="student.cohort">
        </div>

        <div>
            <label for="phoneNumber">Contact Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" [(ngModel)]="student.phoneNumber">
        </div>


        <button type="submit">Add Student</button>
        <button type="reset">Cancel</button>
    </form>
</div>