.modal {
    display: grid;
    place-items: center;

    position: fixed;
    inset: 0;
    isolation: isolate;
}

.overlay {
    background-color: hsla(0, 0%, 0%, 0.33);
    backdrop-filter: blur(4px);

    position: absolute;
    inset: 0;
    z-index: -1;
}

form {
    background-color: #fff;

    padding: 2rem;
}
